@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-button {
  width: 9px;
  height: 0px;
  background: rgb(19, 19, 19, 0);
}
::-webkit-scrollbar-track-piece {
  background: rgba(19, 19, 19, 0);
}
::-webkit-scrollbar-thumb {
  @apply rounded-full bg-gradient-to-t from-blue-500 to-indigo-400;
}
.abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}
